<div class="bg-light rounded-3 m-4 p-4 text-center">
  <h2 class="text-dark" style="font-size: 2.5rem;">Benvenuti a tutti Rockettari!</h2>
  <p>Siete su Guitar Hero Revival, il vostro punto di riferimento per chitarre, accessori e tutto ciò che riguarda il mondo di Guitar Hero.</p>
  <p>Siete pronti a rivivere l’emozione di suonare i vostri brani rock preferiti e scalare le classifiche come vere rockstar? Da noi troverete tutto ciò che vi serve per portare la vostra esperienza di gioco al livello successivo.</p>
  <p>Siete pronti a trasformare il vostro salotto in un palco da concerto e diventare gli eroi della chitarra a cinque tasti?</p>
  <p>Che voi siate dei veterani di Guitar Hero o che vi stiate lanciando per la prima volta in questo mondo, poco importa. Qui abbiamo pensato a selezionare i prodotti perfetti per voi.</p>
  <p>Scegliete una batteria, una chitarra wireless o con filo, il gioco che più vi piace e ripetete il nostro motto:</p>

  <h3 class="font-weight-bold text-danger" style="font-size: 2.6rem;">HAVE FUN AND GO FOR A FULL COMBO!</h3>

  <p>Microfoni, giochi, adattatori…? Qui niente è un problema!</p>
  <p>E ricordatevi, non si tratta solo di seguire le note ma di diventare una leggenda.</p>

  <h3 class="font-weight-bold text-danger" style="font-size: 2.6rem;">LET’S ROCK THE STAGE, HEROES!</h3>

  <p class="text-dark mt-5">per ogni informazione ci trovi qui:</p>
  <div class="mt-4">
    <a href="https://www.instagram.com/giamp_riku01/?hl=it" class="btn btn-link text-dark" target="_blank">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="https://www.facebook.com/giampaolo.paladino.3/?locale=it_IT" class="btn btn-link text-dark" target="_blank">
      <i class="bi bi-facebook"></i>
    </a>
    <a href="mailto:giampaolopaladino01@gmail.com" class="btn btn-link text-dark">
      <i class="bi bi-envelope"></i>
    </a>
  </div>
</div>
