$navbar-black-color: #000000;
.search-bar {
  width: 700px;
  max-width: 100%;
}
.border-custom {
  border: 2px solid white;
}
.navbar {
  background-color: $navbar-black-color;
  .nav-link {
    color: #ffffff;
    &:hover {
      color: #cccccc;
    }
  }

  .navbar-brand {
    color: #ffffff;
    &:hover {
      color: #cccccc;
    }
  }

  .btn-outline-success {
    border-color: #ffffff;
    color: #ffffff;
    &:hover {
      background-color: $navbar-black-color;
      color: #ffffff;
    }
  }
}
