body {
  overflow: hidden;
}
.home-content {
  padding: 50px 0;

  .welcome-section {
    margin-bottom: 30px;
  }

  .benvenuti-image {
    max-width: 80%;
  }

  .logo-image {
    max-width: 50%;
  }

  .description-box {
    margin-top: 30px;

    .description-image {
      max-width: 100%;
    }
  }
}

.categories-section {
  padding: 50px 0;

  .category-image {
    max-width: 80%; /* Riduci la dimensione delle immagini */
    height: auto;
    padding: 5px; /* Riduci il padding interno */
  }

  .row {
    justify-content: center;
    gap: 10px; /* Aggiunge uno spazio minimo tra le colonne */
  }

  @media (max-width: 576px) {
    .category-image {
      max-width: 90%; /* Immagini più grandi sui dispositivi piccoli */
    }
  }
}

.card {
  background-color: #0f0d0d !important; /* Forza il colore di sfondo nero */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  color: #ccc;
}

.card-body {
  padding: 1.5rem;
}
.featured-image {
  max-width: 20%;
  height: auto;
  margin-bottom: 50px;
}



.same-size-card {
  height: 100%;
  min-height: 400px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fixed-image {
  max-height: 200px;
  object-fit: cover;

}

.card-body {
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
}

.card-text {
  color: #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.card-title {
  margin-bottom: 0.75rem;
}


.card-body {
  padding: 1.25rem;
  min-height: 120px;
}
.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
