<div class="container home-content">
  <div class="row align-items-center welcome-section">
    <div class="col-md-6 text-center">
      <img src="../../../assets/Benvenuti.png" alt="Scritta di benvenuto" class="img-fluid benvenuti-image">
    </div>
    <div class="col-md-6 text-right">
      <img src="../../../assets/Logo.png" alt="Logo" class="img-fluid logo-image">
    </div>
  </div>

  <div class="row justify-content-center description-box">
    <div class="col-md-8">
      <img src="../../../assets/Disclaimer.png" alt="Descrizione" class="img-fluid description-image">
    </div>
  </div>
</div>
<div class="container categories-section">
  <div class="row justify-content-center g-2"> <!-- g-2 riduce il gutter (spazio tra colonne) -->
    <div class="col-6 col-md-4 col-lg-2 text-center mb-4"> <!-- col-lg-2 per ridurre la larghezza -->
      <img src="../../../assets/Chitarre.png" alt="Chitarre" class="img-fluid category-image">
    </div>
    <div class="col-6 col-md-4 col-lg-2 text-center mb-4">
      <img src="../../../assets/batterie.png" alt="Batterie" class="img-fluid category-image">
    </div>
    <div class="col-6 col-md-4 col-lg-2 text-center mb-4">
      <img src="../../../assets/microfonii.png" alt="Adattatori" class="img-fluid category-image">
    </div>
    <div class="col-6 col-md-4 col-lg-2 text-center mb-4">
      <img src="../../../assets/adattatori.png" alt="Adattatori" class="img-fluid category-image">
    </div>
    <div class="col-6 col-md-4 col-lg-2 text-center mb-4">
      <img src="../../../assets/giochi.png" alt="Giochi" class="img-fluid category-image">
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-mb-8 text-center mb-4">
    <img src="../../../assets/prodotti btn.png" alt="Prodotto in evidenza" class="img-fluid featured-image">
  </div>
</div>


<div class="row">
  <div *ngFor="let prodotto of prodotti" class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card bg-dark same-size-card" style="width: 18rem;">
      <img [src]="prodotto.immagini" class="card-img-top fixed-image" [alt]="prodotto.nome" />
      <div class="card-body">
        <h5 class="card-title text-white">{{ prodotto.nome }}</h5>
        <p class="card-text text-white">{{ prodotto.descrizione }}</p>
        <p class="card-text text-white"><strong>Prezzo: </strong>{{ prodotto.prezzo | currency:'EUR' }}</p>
        <a [routerLink]="['/dettagli', prodotto.id]" class="btn btn-primary">Dettagli</a>
      </div>
    </div>
  </div>
</div>

